<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Pypin - What about second breakfast</title>
		<link rel="stylesheet" href="/static/main.css">
	</head>

	<body>
		<header class="site-header">
			<a class="site-title" href="/">Pypin</a>
		</header>
		<div class="page-content">
			<article class="post">
				<div class="post-content">
					<ul class="post-list">
						{% for line in lines %}
							{% if line.message %}
								<li>
								<span><b>[ {{ line.message.ts | tstodt }} ] {{ users[line.message.user] }}</b> : </span>
									<span>{{ line.message.text }}</span>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
			</article>
		</div>
	</body>
</html>
